<link rel="stylesheet" href="/css/filters_taxswitch.css">
<div class="filter-taxswitch row">
    <div id="filters" class="col-9">
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Trending" class="filterbtn">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Rooms" class="filterbtn">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Iconic cities" class="filterbtn">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic cities</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Mountains" class="filterbtn">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Mountains</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Castles" class="filterbtn">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Amazing pools" class="filterbtn">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Camping" class="filterbtn">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Farms" class="filterbtn">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Arctic" class="filterbtn">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Domes" class="filterbtn">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Boats" class="filterbtn">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Lakes" class="filterbtn">
                <div><i class="fa-solid fa-water"></i></div>
                <p>Lakes</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Tree city" class="filterbtn">
                <div><i class="fa-solid fa-tree-city"></i></div>
                <p>Tree city</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Beach" class="filterbtn">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
        <form action="/listings/filter" method="POST" class="filter">
            <button type="submit" name="category" value="Wineyards" class="filterbtn">
                <div><i class="fa-solid fa-wine-glass"></i></div>
                <p>Wineyards</p>
                <div class="hrzntlline"><hr/></div>
            </button>
        </form>
    </div>
    <div class="col-3 taxtoggleswitch">
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
</div>

<script src="/js/taxswitch.js"></script>
