<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/vignesh.andalam/" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/vigneshandalam4/" target="_blank" class="social-icon"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/vignesh-andalam-9735b9216/" target="_blank" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&ensp;|&ensp;<a href="/terms">Terms</a>
        </div>
    </div>
</footer> 