<% layout("/layouts/boilerplate.ejs") %>

<body>

  <div class="container mt-1">
    <!-- Terms of Service Header -->
    <div class="text-center mb-4">
      <h1>Terms of Service</h1>
      <p>By using this website, you agree to our terms and conditions. Please read them carefully.</p>
    </div>

    <!-- Terms of Service Content -->
    <div>
      <h4>1. Acceptance of Terms</h4>
      <p>By accessing and using this website, you agree to comply with these terms of service.</p>

      <h4>2. Use of Services</h4>
      <p>You are responsible for ensuring that your use of the website is in accordance with all applicable laws and regulations.</p>

      <h4>3. User Responsibilities</h4>
      <p>You must not misuse the website by introducing harmful material, using the website for unlawful activities, or violating the rights of others.</p>

      <h4>4. Limitation of Liability</h4>
      <p>We are not liable for any damages resulting from the use or inability to use our services.</p>

      <h4>5. Changes to the Terms</h4>
      <p>We reserve the right to modify these terms at any time, and any updates will be posted on this page.</p>
    </div>

  </div>

</body>
